/*Write your CSS in here*/

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
body {
    background-color: #ff6b84;
    font-family: Source Code Pro;
    color: purple;
}

img {
    border-radius: 50%;
    height: 250px;
}

h1 {
    font-family: Source code Pro;
    font-weight: 200;
    text-transform: uppercase;
    border-top: 2px solid purple;
    letter-spacing: 10px;
}

button {
    margin: 1px;
    color: purple;
    background-color: #ff6b84;
    padding: 10px 10px;
    border: 2px solid purple;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    text-size-adjust: auto;
    letter-spacing: 3px;
    margin-top: 30px;
}

button:hover {
    transition: 0.3s;
    color: pink;
    background: purple;
    font-size: small;
    letter-spacing: large;
    text-decoration: none;
}

p {
    text-transform: none;
    text-align: center;
    letter-spacing: normal;
    font-size: medium;
}

#kitty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}